body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    filter: brightness(5px);
  
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
p{
    text-align: justify;
    
}
.flex-container{
    display: flex;
   
}
.all-section-padding{
     padding-bottom: 50px;
    padding-top: 50px;
    
}
.middile-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    border: 0;
}
#middile-border{
    padding-top: 7%;
}
#item-section-border{
    padding: 5%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 15px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    ;
   
}
.one-third-width{
    width: 30%;
}
.text-align-center{
    text-align: center;
}
.food-item{
    width: 90%;
   padding: 2%;
    box-shadow: 10px 10px 20px gray;
    border-radius: 40px;
    margin: 30px;
    
}
.adjust-line-height {
    line-height: 1em;
  }
  .padding-before-button{
      padding-bottom: 40px;
  }
.tab {
    display: inline-block;
    margin-left: 280px;
    
}
.subscriber-partition{
    width: 33.33%;
    padding-left:100px;
}